@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: rgba(255, 245, 220, 0.64);
}

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
.noise {
  background: linear-gradient(
    132deg,
    rgba(255, 245, 220, 0.64),
    rgba(255, 245, 220, 0.64)
  );
}

button {
  transition: all 0.2s ease-in-out;
}

*[data-description] {
  position: relative;
}

*[data-description]::after {
  content: attr(data-description);
  position: absolute;
  text-align: center;
  opacity: 0;
  font-size: 12px;
  bottom: calc(100% + 3px);
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
  padding: 3px 10px;
  min-width: inherit;
  color: black;
  background-color: rgb(251, 251, 251);
  transform: scale(0.2);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.166);
  border-radius: 4px;
  pointer-events: none;
}

*[data-description]:hover::after {
  opacity: 1;
  transform: scale(1);
}

.animation-delay-334 {
  animation-delay: 334ms;
}

.animation-delay-167 {
  animation-delay: 167ms;
}

@keyframes popup {
  0% {
    opacity: 0.5;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: popup 0.2s ease-in-out;
}
.holographic-card {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.holographic-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(255, 255, 255, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 225, 255, 0.5);
}

.holographic-card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
